{% extends 'PressPlayCoreBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="span8">
        {{name}}
    </div>
    <div class="span4">
    </div>        
</div>
{% endblock %}