{% extends 'PressPlayCoreBundle::layout.html.twig' %}

{% block header %}
<script language="javascript"> 
    
function pad(n, len) {
   
    s = n.toString();
    if (s.length < len) {
        s = ('0000000000' + s).slice(-len);
    }

    return s;
   
}    
    
function add(n, len) {
   
    s = n.toString();
    if (s.length < len) {
        s = (s + '0000000000').slice(-len);
    }

    return s;
   
}     
    
    var timeData = [];
    
    for(var h = 0; h <= 24; h++){
        
        if(h<24){
            for(var m = 0;m < 4; m++){
                var hours = 15 * m;
                timeData.push(pad(h,2)+":"+add(hours,2));    
            }
        }else{
            timeData.push(pad(h,2)+":00"); 
        }
    }
    
    $(document).ready(function() {          
        $('.timeselect').typeahead({
            source: timeData
        })
    });

</script> 
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">

    </div>
</div>        
    <hr />
 <div class="row">       
    <div class="span9">
        
        <form>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Start time</th>
                        <th>Stop time</th>
                        <th>Adjustment</th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <input class="span2 timeselect" type="text" placeholder="i.e. 08:00">
                    </td>
                    <td>
                        <input class="span2 timeselect" type="text" placeholder="i.e. 16:00">
                    </td>
                    <td>
                        <input class="span2" type="text" placeholder="i.e. -01:30">
                    </td>                 
                    <td>
                        <a class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i> Delete</a>
                    </td>                   
                </tr>
                <tr>
                    <td colspan="4">
                        <button class="btn btn-success" href="#"><i class="icon-plus icon-white"></i> Add</button>
                    </td>
                </tr>
            </table>
        </form>                
    </div>        
    <div class="span3">
        <div class="factbox positive">
            <span>+25</span>
            Timer
        </div>
    </div>                
</div>
{% endblock %}